<!--<div class="fixed top-0 left-0 h-screen w-24 flex flex-col-->
<!--                  bg-gray-900 dark:bg-gray-900 shadow-lg group:hover:scale-200" xmlns="http://www.w3.org/1999/html">-->

<!--&lt;!&ndash;  <fa-icon icon="test"></fa-icon>&ndash;&gt;-->
<!--  <div>-->
<!--    <div class="sidebar-icon group" >-->
<!--      <fa-icon  [icon]="icons.Accounts"  size="3x"></fa-icon>-->
<!--    </div>-->
<!--    <span>Leads</span>-->

<!--  </div>-->
<!--    <div class="sidebar-icon group">-->
<!--      <fa-icon  [icon]="icons.Accounts"  size="3x"></fa-icon>-->
<!--    </div>-->
<!--    <div class="sidebar-icon group" >-->
<!--      <fa-icon  [icon]="icons.Accounts"  size="3x"></fa-icon>-->
<!--    </div>-->


<!--</div>-->





<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn mt-3" (click)="closeNav()">&times;</a>


  <a href="#" class="group" *ngFor="let module of modules">
        <div class="sidebar-icon group-hover:rounded-xl  group-hover:bg-palleteO3" >
          <fa-icon  [icon]="icons['Accounts']"  size="2x"></fa-icon>
        </div>
        <div class="sidebar-text group-hover:rounded-xl group-hover:bg-palleteO3" >
          <span class="m-3" class="{{module.module_key}}">{{module.module_label}}</span>
        </div>
  </a>

<!--  <ul>-->
<!--    <li *ngFor="let number of modules">{{number.module_key}}</li>-->
<!--  </ul>-->



</div>

<!--<div id="main">-->
<!--  <button class="openbtn" (click)="openNav()" >&#9776; Open Sidebar</button>-->
<!--  <h2>Collapsed Sidebar</h2>-->
<!--  <p>Content...</p>-->
<!--</div>-->
