    <div class="border-b border-gray-200 dark:border-gray-700">
        <nav class="-mb-0.5 flex justify-center bg-palleteG1" aria-label="Tabs" role="tablist">

            <button type="button"  [class.selectTab]="activeTab ==='tab1'" class="btn2 hs-tab-active:font-semibold hs-tab-active:border-blue-600 hs-tab-active:text-blue-600 py-4 px-1 inline-flex items-center gap-2 border-b-[3px] border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600" id="horizontal-alignment-item-1" data-hs-tab="#horizontal-alignment-1" aria-controls="horizontal-alignment-1" role="tab"
            (click)="activeTab = 'tab1'">
            Overview
            </button>

            <button type="button" [class.selectTab]="activeTab ==='tab2'" class="btn2 hs-tab-active:font-semibold hs-tab-active:border-blue-600 hs-tab-active:text-blue-600 py-4 px-1 inline-flex items-center gap-2 border-b-[3px] border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600" id="horizontal-alignment-item-2" data-hs-tab="#horizontal-alignment-2" aria-controls="horizontal-alignment-2" role="tab"
            (click)="activeTab = 'tab2'">

            More Information
            </button>
            <button type="button" [class.selectTab]="activeTab ==='tab3'" class="btn2 hs-tab-active:font-semibold hs-tab-active:border-blue-600 hs-tab-active:text-blue-600 py-4 px-1 inline-flex items-center gap-2 border-b-[3px] border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600" id="horizontal-alignment-item-3" data-hs-tab="#horizontal-alignment-3" aria-controls="horizontal-alignment-3" role="tab"
            (click)="activeTab = 'tab3'">

            Other
            </button>
        </nav>
    </div>


    <div class="min-h-screen">

    <div id="horizontal-alignment-1" role="tabpanel" aria-labelledby="horizontal-alignment-item-1" *ngIf="activeTab === 'tab1'">

        <div class="isolate px-6 py-14 sm:py-8 lg:px-8 bg-gradient-to-r from-palleteO3  to-palleteG1 min-h-screen">

            <div class="backdrop-blur-md bg-white/30 mx-20 my-10 p-10">

                <form action="#" method="POST" class="mx-auto mt-8  mb-8 max-w-4xl sm:mt-8" [formGroup]="myForm" *ngIf="myForm">
                    <div class="flex justify-end">
                        <div class="ml-auto"  *ngIf="!isEditable" >
                          <a class="btn1" (click)="makeEditable()" >Edit</a>
                        </div>
                        <div class="ml-auto"  *ngIf="isEditable" >
                            <a class="btn" (click)="saveForm()" >Save</a>
                        </div>
                    </div>


                    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                        <div>
                            <label for="first-name" class="block text-sm font-semibold leading-6 text-gray-900">Name</label>
                            <div class="mt-2.5">
                                <input type="text" name="name" [readonly]="!isEditable" formControlName="name"   id="name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div>
                            <label for="last-name" class="block text-sm font-semibold leading-6 text-gray-900">Office Phone</label>
                            <div class="mt-2.5">
                                <input type="text" name="phone_office" [readonly]="!isEditable" formControlName="phone_office" id="phone_office" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div>
                            <label for="last-name" class="block text-sm font-semibold leading-6 text-gray-900">Website</label>
                            <div class="mt-2.5">
                                <input type="text" name="website" [readonly]="!isEditable" id="website" formControlName="website" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div>
                            <label for="phone_fax" class="block text-sm font-semibold leading-6 text-gray-900">Fax</label>
                            <div class="mt-2.5">
                                <input type="text" name="phone_fax" [readonly]="!isEditable" formControlName="phone_fax" id="phone_fax" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div class="sm:col-span-2" *ngIf="!isEditable">
                            <label for="email1" class="block text-sm font-semibold leading-6 text-gray-900">Email Address</label>
                            <div class="mt-2.5">
                                <input type="text" name="email1" id="email1" [readonly]="!isEditable" formControlName="email1" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>


                        <div class="sm:col-span-2" *ngIf="!isEditable">
                            <label for="message" class="block text-sm font-semibold leading-6 text-gray-900">Billing Address</label>
                            <div class="mt-2.5">
                                <textarea name="message" id="message" rows="4"  [readonly]="!isEditable" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    {{ myForm.get('billing_address_street')?.value }} {{ myForm.get('billing_address_city')?.value }}  {{ myForm.get('billing_address_state')?.value }} {{ myForm.get('billing_address_country')?.value }}
                                </textarea>
                            </div>
                        </div>

                            <div *ngIf="isEditable">
                                <label for="billing_address_street" class="block text-sm font-semibold leading-6 text-gray-900">Billing Address Street</label>
                                <div class="mt-2.5">
                                    <input type="text" name="billing_address_street" [readonly]="!isEditable" formControlName="billing_address_street"   id="billing_address_street" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>
                            <div *ngIf="isEditable">
                                <label for="billing_address_city" class="block text-sm font-semibold leading-6 text-gray-900">Billing Address City</label>
                                <div class="mt-2.5">
                                    <input type="text" name="billing_address_city" [readonly]="!isEditable" formControlName="billing_address_city" id="billing_address_city" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>
                            <div *ngIf="isEditable">
                                <label for="billing_address_state" class="block text-sm font-semibold leading-6 text-gray-900">Billing Address State</label>
                                <div class="mt-2.5">
                                    <input type="text" name="billing_address_state" [readonly]="!isEditable" id="billing_address_state" formControlName="billing_address_state" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>
                            <div *ngIf="isEditable">
                                <label for="billing_address_country" class="block text-sm font-semibold leading-6 text-gray-900">Billing Address Country</label>
                                <div class="mt-2.5">
                                    <input type="text" name="billing_address_country" [readonly]="!isEditable" formControlName="billing_address_country" id="billing_address_country" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>

                        <div class="sm:col-span-2" *ngIf="!isEditable">
                            <label for="message" class="block text-sm font-semibold leading-6 text-gray-900">Shipping Address</label>
                            <div class="mt-2.5">
                                <textarea name="message" id="message" rows="4"  [readonly]="!isEditable" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    {{ myForm.get('shipping_address_street')?.value }} {{ myForm.get('shipping_address_city')?.value }} {{ myForm.get('shipping_address_state')?.value }} {{ myForm.get('shipping_address_country')?.value }}
                                </textarea>
                            </div>
                        </div>

                        <div *ngIf="isEditable">
                            <label for="shipping_address_street" class="block text-sm font-semibold leading-6 text-gray-900">Shipping Address Street</label>
                            <div class="mt-2.5">
                                <input type="text" name="shipping_address_street" [readonly]="!isEditable" formControlName="shipping_address_street"   id="shipping_address_street" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div *ngIf="isEditable">
                            <label for="shipping_address_city" class="block text-sm font-semibold leading-6 text-gray-900">Shipping Address City</label>
                            <div class="mt-2.5">
                                <input type="text" name="shipping_address_city" [readonly]="!isEditable" formControlName="shipping_address_city" id="shipping_address_city" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div *ngIf="isEditable">
                            <label for="shipping_address_state" class="block text-sm font-semibold leading-6 text-gray-900">Shipping Address State</label>
                            <div class="mt-2.5">
                                <input type="text" name="shipping_address_state" [readonly]="!isEditable" id="shipping_address_state" formControlName="shipping_address_state" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div *ngIf="isEditable">
                            <label for="shipping_address_country" class="block text-sm font-semibold leading-6 text-gray-900">Shipping Address Country</label>
                            <div class="mt-2.5">
                                <input type="text" name="shipping_address_country" [readonly]="!isEditable" formControlName="shipping_address_country" id="shipping_address_country" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>

                        <div>
                            <label for="description" class="block text-sm font-semibold leading-6 text-gray-900">Desrcription</label>
                            <textarea name="description" id="description" rows="4" formControlName="description" [readonly]="!isEditable" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </textarea>
                        </div>
                        <div *ngIf="!isEditable">
                            <label for="assigned_user_name" class="block text-sm font-semibold leading-6 text-gray-900">Assigned To</label>
                            <div class="mt-2.5">
                                <input type="text" name="assigned_user_name" [readonly]="!isEditable" formControlName="assigned_user_name" id="assigned_user_name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                    </div>
                    </form>
            </div>


        </div>

    </div>

    <div id="horizontal-alignment-2"  role="tabpanel" aria-labelledby="horizontal-alignment-item-2" *ngIf="activeTab === 'tab2'">

        <div class="isolate bg-white px-6 py-14 sm:py-8 lg:px-8 bg-gradient-to-r from-palleteO3  to-palleteG1 min-h-screen">
            <div class="backdrop-blur-md bg-white/30 mx-20 my-10 p-10">

                <form action="#" method="POST" [formGroup]="myForm" *ngIf="myForm" class="mx-auto mt-8 mb-8  max-w-4xl sm:mt-8">
                    <div class="flex justify-end">
                        <div class="ml-auto"  *ngIf="!isEditable" >
                          <a class="btn1" (click)="makeEditable()" >Edit</a>
                        </div>
                        <div class="ml-auto"  *ngIf="isEditable" >
                            <a class="btn" (click)="saveForm()" >Save</a>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                        <div *ngIf="!isEditable">
                            <label for="account_type" class="block text-sm font-semibold leading-6 text-gray-900">Type</label>
                            <div class="mt-2.5">
                                <input type="text" name="account_type" [readonly]="!isEditable" formControlName="account_type"  id="account_type" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div *ngIf="!isEditable">
                            <label for="industry" class="block text-sm font-semibold leading-6 text-gray-900">Industry</label>
                            <div class="mt-2.5">
                                <input type="text" name="industry" [readonly]="!isEditable" formControlName="industry" id="industry" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div>
                            <label for="annual_revenue" class="block text-sm font-semibold leading-6 text-gray-900">Annual Revenue</label>
                            <div class="mt-2.5">
                                <input type="text" name="annual_revenue" [readonly]="!isEditable" formControlName="annual_revenue"  id="annual_revenue" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div>
                            <label for="last-name" class="block text-sm font-semibold leading-6 text-gray-900">Employee</label>
                            <div class="mt-2.5">
                                <input type="text" name="employees" [readonly]="!isEditable" formControlName="employees" id="employees" autocomplete="family-name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div class="sm:col-span-2" *ngIf="!isEditable">
                            <label for="parent_name" class="block text-sm font-semibold leading-6 text-gray-900">Member Of</label>
                            <div class="mt-2.5">
                                <input type="text" name="parent_name" id="parent_name" formControlName="parent_name" [readonly]="!isEditable" autocomplete="organization" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div class="sm:col-span-2" *ngIf="!isEditable">
                            <label for="campaign_name" class="block text-sm font-semibold leading-6 text-gray-900">Campaign</label>
                            <div class="mt-2.5">
                                <input type="text" name="campaign_name" id="campaign_name" formControlName="campaign_name" [readonly]="!isEditable" autocomplete="organization" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>

                    </div>
                    </form>

            </div>


        </div>
    </div>

    <div id="horizontal-alignment-3"  role="tabpanel" aria-labelledby="horizontal-alignment-item-3" *ngIf="activeTab === 'tab3'">


        <div class="isolate bg-white px-6 py-14 sm:py-8 lg:px-8 bg-gradient-to-r from-palleteO3  to-palleteG1 min-h-screen">

            <div class="backdrop-blur-md bg-white/30 mx-20 my-10 p-10">

                <form action="#" method="POST" [formGroup]="myForm" *ngIf="myForm"  class="mx-auto mt-8 mb-8 max-w-4xl sm:mt-8">
                    <div class="flex justify-end">
                        <div class="ml-auto"  *ngIf="!isEditable" >
                          <a class="btn1" (click)="makeEditable()" >Edit</a>
                        </div>
                        <div class="ml-auto"  *ngIf="isEditable" >
                            <a class="btn" (click)="saveForm()" >Save</a>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">

                          <div>
                            <label for="date_entered" class="block text-sm font-semibold leading-6 text-gray-900">Date Created</label>
                              <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Select date and time" formControlName="date_entered" [readonly]="!isEditable">
                                <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="!isEditable"></mat-datepicker-toggle>
                                <mat-datepicker #picker ></mat-datepicker>
                              </mat-form-field>
                          </div>

                          <div>
                            <label for="date_modified" class="block text-sm font-semibold leading-6 text-gray-900">Date Modified</label>
                              <mat-form-field>
                                <input matInput [matDatepicker]="picker1" placeholder="Select date and time" formControlName="date_modified" [readonly]="!isEditable">
                                <mat-datepicker-toggle matSuffix [for]="picker1" [disabled]="!isEditable"></mat-datepicker-toggle>
                                <mat-datepicker #picker1 ></mat-datepicker>
                              </mat-form-field>
                          </div>
                    </div>


                </form>

            </div>



        </div>

    </div>

    </div>
