<!--<div class="flex mb-4">-->
<!--  <div class="w-1/2 bg-gray-500 h-screen bg-palleteG2"></div>-->
<!--  <div class="w-1/2 bg-gray-300 h-screen bg-palleteO3"></div>-->
<!--</div>-->

<!--<div class="flex grid grid-rows-2 grid-flow-col gap-4">-->
<!--    <div class="h-96 bg-palleteG1 rounded-t-3xl mt-4 ml-4 mr-4"></div>-->
<!--  &lt;!&ndash; ... &ndash;&gt;-->
<!--  <div class="h-screen bg-palleteG1 rounded-b-3xl mb-4 ml-4 mr-4"></div>-->
<!--</div>-->

<!-- Two columns -->
<div class="flex mt-2">
  <div class="w-full bg-palleteG1 h-128"></div>
</div>

<!-- Three columns -->
<div class="flex mb-4">
  <div class="w-full bg-palleteO1 h-104 opacity-30"></div>
</div>

<router-outlet></router-outlet>

